<!DOCTYPE html>
<html>
<head>
  <title>Forgot Password</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
    }

    .container {
      max-width: 500px;
      margin: 0 auto;
      padding: 60px;
      background-color: #efdfdf;
      border-radius: 5px;
      box-shadow: 0 0 10px rgb(0 0 0);
    }

    .btn-primary {
      color: #000000;
      background-color: #8b6373;
      border-color: #8b6373;
      font-family: system-ui;
    }

    h1 {
      text-align: center;
      color: #333333;
      margin-bottom: 20px;
      font-family: system-ui;
    }

    form {
      margin-top: 20px;
    }

    input[type="email"] {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid #cccccc;
      border-radius: 3px;
    }

    button[type="submit"] {
      width: 100%;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1 class="text-center">Forgot Password</h1>
    <form method="POST" action="/auth/forgot-password">
      <div class="form-group">
        <input type="email" class="form-control" name="email" placeholder="Email" required>
      </div>
      <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
    
  </div>
</body>
</html>
